<!--page-title-area start-->
<section class="page-title-area" style="background-image: url(assets/img/img5.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="page-title-wrapper">
                    <div class="page-title-inner">
                        <div class="page-title-inner-content theme-bg">
                            <div class="page-title">
                                <h1 class="main-page-title">FAQ</h1>
                            </div>
                            <ul class="breadcrumb-list">
                                <li><a href="/">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title-area end-->
 <!--faq-area start-->
 <section class="faq-area-02 pt-125 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12">
                <div id="accordion" class="accordion-box">
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">WHAT SERVICES DO YOU PROVIDE? 
                                    ?</button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">We offer caregiving services such as senior care 
                                    and other personal care. <a class="text-primary" href="/services">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    DOES EQUITY CARE PROVIDE LIVE-IN, OVERNIGHHT OR 24HR SERVICES? 
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">We provide 24-hour, 7 days service. Our staffing structure allows you to enjoy uninterrupted car.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    WHAT IF I NEED CARE FOR BOTH PARENTS? 
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">We strongly advice that you consider a caregiver for each to encourage efficiency. However, there is discount for clients from same sponsor or both parents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    WHAT IF I WANT TO TERMINATE SERVICE? 
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Except in the event of sudden death or emergency admission, you will require file two weeks or one week notice. This will give us opportunity to review the request and repost the staff. We do not encourage abrupt termination of staff. If you have refund, resulting in previous pay forward, it will be duly refunded.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="true"
                                    aria-controls="collapseFive">WHAT ARE THE QUALIFICATIONS OF YOUR CAREGIVERS? </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Our caregivers are First Aid, CPR, and BLS trained. Also, they are trained to handle emergency cases, medication reminders, management, and documentation. We train them to prevent fall by eliminating the possibilities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">CAN I REQUEST FOR A CHANGE OF CAREGIVER? </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Yes, you can for any reason. Please note that provision of new caregiver will be subject to availability.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven">WHAT IS YOUR HELPLINE? </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">For complaints, enquiries, and any form of communications, please call:  

                                    +234 813 039 8786 both on direct line and WhatsApp. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mr-50 ml-50 mb-10">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseEight">CAN I VISIT OR INSPECT YOUR OFFICE? </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordion">
                            <div class="card-body grey-bg2">
                                <p class="mb-15">Equity care global is a digital platform that connects you with your caregiver. We are compliant with the trend of technology as regards to your wellbeing. You can always call our helpline of fill request form for latest update and to resolve issues. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--faq-area end-->